<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377991560808-5237gjn66n4p7i62t4sk3qhadebd3fo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377991560808-5237gjn66n4p7i62t4sk3qhadebd3fo4</string>
	<key>API_KEY</key>
	<string>AIzaSyAlM4Yp_DCN5AdlrzzZHnhn-BZh_hu1eAE</string>
	<key>GCM_SENDER_ID</key>
	<string>377991560808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.flutterflowdemo</string>
	<key>PROJECT_ID</key>
	<string>flutterflowdemo-d7455</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterflowdemo-d7455.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377991560808:ios:9cbda30be1b21992e585dd</string>
</dict>
</plist>